// Partials/Import
@import "colors";
@import "typography";

// Variables
$arial: Arial, Helvetica, sans-serif;
$arial_black: "Arial Black", Gadget, sans-serif;

// Mixin
@mixin enlaces($display, $color, $fontSize, $margin, $padding) {
    display: $display;
    color: $color;
    font-size: $fontSize;
    margin: $margin;
    padding: $padding;
    text-decoration: none;
    text-transform: uppercase;
}

@mixin formulario {
    border: 2px solid $grisOscuro;
    color: $grisOscuro;
    font-family: $arial;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 37px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 596px;
}

// Extend
imagen-base {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    background: $blanco;
    font-family: $arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

// Nesting
p {
    color: $grisOscuro;
    line-height: 24px;
    margin: 0;
    padding: 0;

    a {
        color: $grisOscuro;
        text-decoration: underline;

        &:hover {
            color: #898989;
        }
    }
}

#header {
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;
}

// Nesting
#header a.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 340px;

    img {
        // Extend
        @extend imagen-base;
        display: block;
    }
}

// Nesting
#header ul {
    margin: 0;
    padding: 56px 0 0;

    li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0 19px;

        a {
            // Mixin
            @include enlaces(inline-block, $grisOscuro, 14px, 0, 0 0 3px);
            font-family: $arial_black;
            font-weight: normal;
        }

        &:hover {
            color: $turquesa;
        }
    }

    li.selected a {
        color: $turquesa;
    }
}

#body {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
}

// Nesting
#body h1 {
    color: $blanco;
    display: inline;
    font-family: poller_oneregular;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    span {
        background: $grisOscuro;
        display: inline-block;
        padding: 15px 28px 12px;
    }
}

// Nesting
#body>div {
    margin: 0 auto;
    padding: 0;
    width: 960px;

    img {
        border: 2px solid #292929;
        margin: 24px 0 0;
        padding: 0;
    }

    .article {
        margin: 0 auto;
        padding: 30px 30px 0;
        width: 560px;

        h2 {
            font-family: $arial_black;
            font-size: 25px;
            font-weight: normal;
            margin: 0 0 30px;
        }

        h3 {
            color: $grisOscuro;
            line-height: 24px;
            margin: 0;
            padding: 0;
        }

        h4 {
            background: $grisOscuro;
            color: $blanco;
            display: inline-block;
            font-family: $arial_black;
            font-size: 25px;
            font-weight: normal;
            margin: 0 0 30px;
            padding: 8px 27px 10px;
        }

        p {
            margin: 0 0 30px;
        }
    }

    ul {
        margin: 0;
        padding: 24px 10px 0;
        width: 940px;

        li {
            border: 2px solid $grisMasOscuro;
            display: block;
            list-style: none;
            margin: 0 0 13px;
            overflow: hidden;
            padding: 0;

            .figure {
                border-right: 2px solid $grisMasOscuro;
                float: left;
                margin: 0;
                padding: 0;
                width: 376px;

                &:hover img {
                    opacity: 1;
                }
            }

            img {
                // Extend
                @extend imagen-base;
                border: 0;
                opacity: 0.8;
                transition: 0.5s ease-in-out;
            }

            div {
                float: left;
                margin: 0;
                padding: 63px 0 20px;
                width: 558px;

                h3 {
                    color: $grisOscuro;
                    font-family: $arial_black;
                    font-size: 25px;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }

                p {
                    padding: 30px 30px 18px;
                }

                a.more {
                    // Mixin
                    @include enlaces(inline-block, $blanco, 18px, 0, 8px 28px);
                    background: $negro;
                    font-family: $arial_black;
                    font-weight: normal;

                    &:hover {
                        color: $grisOscuro;
                        background: $blanco;
                        border: 2px solid $grisOscuro;
                    }
                }
            }
        }
    }
}

// Nesting
#body #featured {
    margin: 0 0 13px;
    padding: 0;
    position: relative;
    width: 100%;

    img {
        // Extend
        @extend imagen-base;
        border: 0;
        width: 100%;
    }

    div {
        left: 50%;
        margin-left: -480px;
        margin-top: -171px;
        padding: 0 0 0 470px;
        position: absolute;
        top: 50%;
        text-align: left;
        width: 490px;

        h2 {
            background: $blanco;
            color: $negro;
            display: inline-block;
            font-family: poller_oneregular;
            font-size: 20px;
            font-weight: normal;
            margin: 0 0 18px;
            padding: 23px 27px 20px;
            text-transform: uppercase;
        }

        span {
            background: $grisOscuro;
            color: $blanco;
            display: inline-block;
            font-size: 20px;
            margin: 7px 0;
            padding: 12px 27px;
        }

        a {
            // Mixin
            @include enlaces(inline-block, $blanco, 16px, 15px 0 0, 26px 27px 22px);
            background: $turquesa;
            text-align: center;

            &:hover {
                background: #1fc3bc;
            }
        }
    }
}

// Nesting
#body>ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: 960px;

    li {
        display: block;
        float: left;
        margin: 0 10px 20px;
        padding: 0;
        width: 300px;

        a {
            // Mixin
            @include enlaces(block, $negro, 20px, 0, 0);
            font-family: poller_oneregular;
            font-weight: normal;
            text-align: center;

            img {
                // Extend
                @extend imagen-base;
                border: 2px solid $grisMasOscuro;
                opacity: .8;
                transition: 0.5s ease-in-out;
            }

            &:hover img {
                opacity: 1;
            }

            span {
                display: block;
                margin: 0;
                padding: 33px 0 0;
            }
        }
    }
}

// Nesting
#body form {
    margin: 0 auto;
    padding: 24px 0 0;
    width: 620px;

    input {
        // Mixin
        @include formulario();
    }

    textarea {
        // Mixin
        @include formulario();
        height: 175px;
        overflow: auto;
        resize: none;
    }

    #send {
        background: $grisOscuro;
        color: $blanco;
        font-family: $arial_black;
        font-size: 15px;
        font-weight: normal;
        display: inline-block;
        padding: 20px 28px;
        width: auto;

        &:hover {
            background: $blanco;
            color: $grisOscuro;
            cursor: pointer;
        }
    }
}

#footer {
    background: $grisOscuro;
    margin: 0;
    padding: 36px 0 42px;
}

// Nesting
#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 960px;

    p {
        color: $blanco;
        float: left;
        line-height: 44px;
        margin: 0 0 0 10px;
        padding: 0;
    }

    ul {
        display: block;
        float: right;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 256px;

        li {
            display: block;
            float: left;
            list-style: none;
            margin: 0 10px;
            padding: 0;
            width: 44px;

            a {
                background: url(../images/icons.jpg) no-repeat 0 0;
                display: block;
                height: 44px;
                margin: 0;
                padding: 0;
                text-indent: -99999px;
                width: 44px;
            }

            #twitter {
                background-position: 0 0;

                &:hover {
                    background-position: -44px 0;
                }
            }

            #facebook {
                background-position: 0 -44px;

                &:hover {
                    background-position: -44px -44px;
                }
            }

            #googleplus {
                background-position: 0 -88px;

                &:hover {
                    background-position: -44px -88px;
                }
            }

            #pinterest {
                background-position: 0 -132px;

                &:hover {
                    background-position: -44px -132px;
                }
            }
        }
    }
}